___
# Ciência dos Dados - PROJETO 1

Eli Jose Abi Ghosn

___

## TÍTULO DO SEU PROJETO

___
## Introdução

Esse projeto tem como objetivo analisar qual região do Brasil teve o maior aumento no acesso a internet entre os anos de 2013, 2014 e 2015. Além disso, será também identificada em qual área houve o maior aumento no acesso a internet, na rural ou urbana  Para isso será utilizado a base de dados da PNAD domicílio 2013, 2014 e 2015, sendo essas processadas por meio da seleção e tratramento das varíaveis de interesse utilizando a biblioteca PANDAS do python.

___
## Análise e Resultados

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\elijo\Downloads

In [50]:
dados = pd.read_csv('DOM2015.csv',sep=',')
cut = dados.iloc[:,[2,49,59,57,56,55,54]]
cut

        UF  V02322  V4105  V02426  V02425  V02424  V02327
0       11     4.0      1     NaN     NaN     NaN     NaN
1       11     NaN      1     NaN     NaN     NaN     NaN
2       11     2.0      1     2.0     4.0     2.0     4.0
3       11     2.0      1     2.0     4.0     2.0     4.0
4       11     4.0      1     NaN     NaN     NaN     NaN
5       11     2.0      1     2.0     4.0     4.0     4.0
6       11     4.0      1     NaN     NaN     NaN     NaN
7       11     4.0      1     NaN     NaN     NaN     NaN
8       11     2.0      1     2.0     4.0     2.0     4.0
9       11     NaN      1     NaN     NaN     NaN     NaN
10      11     2.0      1     2.0     4.0     2.0     4.0
11      11     2.0      1     2.0     4.0     2.0     4.0
12      11     NaN      1     NaN     NaN     NaN     NaN
13      11     2.0      1     2.0     4.0     2.0     4.0
14      11     NaN      1     NaN     NaN     NaN     NaN
15      11     2.0      1     2.0     4.0     2.0     4.0
16      11     4.0      1     NaN     NaN     NaN     NaN
17      11     2.0      1     2.0     4.0     4.0     4.0
18      11     2.0      1     2.0     4.0     4.0     4.0
19      11     2.0      1     4.0     2.0     4.0     4.0
20      11     2.0      1     2.0     4.0     4.0     4.0
21      11     4.0      1     NaN     NaN     NaN     NaN
22      11     NaN      1     NaN     NaN     NaN     NaN
23      11     2.0      1     2.0     4.0     4.0     4.0
24      11     NaN      1     NaN     NaN     NaN     NaN
25      11     NaN      1     NaN     NaN     NaN     NaN
26      11     4.0      1     NaN     NaN     NaN     NaN
27      11     2.0      1     2.0     4.0     4.0     4.0
28      11     2.0      1     2.0     2.0     4.0     4.0
29      11     2.0      1     2.0     4.0     4.0     4.0
...     ..     ...    ...     ...     ...     ...     ...
151159  53     2.0      1     2.0     4.0     2.0     4.0
151160  53     NaN      1     NaN     NaN     NaN     NaN
151161  53     2.0      1     2.0     4.0     4.0     4.0
151162  53     NaN      1     NaN     NaN     NaN     NaN
151163  53     2.0      1     2.0     4.0     2.0     4.0
151164  53     2.0      1     2.0     4.0     2.0     4.0
151165  53     2.0      1     2.0     4.0     2.0     4.0
151166  53     NaN      1     NaN     NaN     NaN     NaN
151167  53     2.0      1     2.0     4.0     2.0     4.0
151168  53     2.0      1     2.0     4.0     2.0     4.0
151169  53     2.0      1     2.0     4.0     2.0     4.0
151170  53     2.0      1     2.0     4.0     2.0     4.0
151171  53     2.0      1     2.0     4.0     2.0     4.0
151172  53     4.0      1     NaN     NaN     NaN     NaN
151173  53     2.0      1     4.0     4.0     2.0     4.0
151174  53     NaN      1     NaN     NaN     NaN     NaN
151175  53     2.0      1     2.0     4.0     2.0     4.0
151176  53     NaN      1     NaN     NaN     NaN     NaN
151177  53     NaN      1     NaN     NaN     NaN     NaN
151178  53     NaN      1     NaN     NaN     NaN     NaN
151179  53     4.0      1     NaN     NaN     NaN     NaN
151180  53     4.0      1     NaN     NaN     NaN     NaN
151181  53     4.0      1     NaN     NaN     NaN     NaN
151182  53     2.0      1     2.0     4.0     2.0     4.0
151183  53     NaN      1     NaN     NaN     NaN     NaN
151184  53     4.0      1     NaN     NaN     NaN     NaN
151185  53     4.0      1     NaN     NaN     NaN     NaN
151186  53     2.0      1     2.0     4.0     2.0     4.0
151187  53     4.0      1     NaN     NaN     NaN     NaN
151188  53     2.0      1     2.0     4.0     2.0     4.0

[151189 rows x 7 columns]

In [88]:
#Se usar o arquivo descompactado
#pd.read_csv('DOM2015.csv',sep=',')

dados = pd.read_csv('DOM2015.csv',sep=',')
cut = dados.iloc[:,[2,49,59,57,56,55,54]]

cut = cut[(cut.V02322<=4.0)]

cut.UF = cut.UF.astype('category')
cut.V02322 = cut.V02322.astype('category')
cut.V02426 = cut.V02426.astype('category')
cut.V02425 = cut.V02425.astype('category')
cut.V02424 = cut.V02424.astype('category')
cut.V02327 = cut.V02327.astype('category')


#zona
cut.loc[(cut.V4105<4),'ZONA'] = 'Urbana'
cut.loc[(cut.V4105>3),'ZONA'] = 'Rural'
cut.ZONA = cut.ZONA.astype('category')

#internet
cut=cut.rename(columns = {'V02322':'Internet'})
cut.Internet.cat.categories = ('Sim','Nao')







cut

        UF Internet  V4105 V02426 V02425 V02424 V02327    ZONA
0       11      Nao      1    NaN    NaN    NaN    NaN  Urbana
2       11      Sim      1    2.0    4.0    2.0    4.0  Urbana
3       11      Sim      1    2.0    4.0    2.0    4.0  Urbana
4       11      Nao      1    NaN    NaN    NaN    NaN  Urbana
5       11      Sim      1    2.0    4.0    4.0    4.0  Urbana
6       11      Nao      1    NaN    NaN    NaN    NaN  Urbana
7       11      Nao      1    NaN    NaN    NaN    NaN  Urbana
8       11      Sim      1    2.0    4.0    2.0    4.0  Urbana
10      11      Sim      1    2.0    4.0    2.0    4.0  Urbana
11      11      Sim      1    2.0    4.0    2.0    4.0  Urbana
13      11      Sim      1    2.0    4.0    2.0    4.0  Urbana
15      11      Sim      1    2.0    4.0    2.0    4.0  Urbana
16      11      Nao      1    NaN    NaN    NaN    NaN  Urbana
17      11      Sim      1    2.0    4.0    4.0    4.0  Urbana
18      11      Sim      1    2.0    4.0    4.0    4.0  Urbana
19      11      Sim      1    4.0    2.0    4.0    4.0  Urbana
20      11      Sim      1    2.0    4.0    4.0    4.0  Urbana
21      11      Nao      1    NaN    NaN    NaN    NaN  Urbana
23      11      Sim      1    2.0    4.0    4.0    4.0  Urbana
26      11      Nao      1    NaN    NaN    NaN    NaN  Urbana
27      11      Sim      1    2.0    4.0    4.0    4.0  Urbana
28      11      Sim      1    2.0    2.0    4.0    4.0  Urbana
29      11      Sim      1    2.0    4.0    4.0    4.0  Urbana
30      11      Nao      1    NaN    NaN    NaN    NaN  Urbana
31      11      Sim      1    2.0    4.0    4.0    4.0  Urbana
32      11      Sim      1    4.0    2.0    4.0    4.0  Urbana
33      11      Sim      1    4.0    2.0    4.0    4.0  Urbana
35      11      Nao      1    NaN    NaN    NaN    NaN  Urbana
36      11      Nao      1    NaN    NaN    NaN    NaN  Urbana
37      11      Sim      1    4.0    2.0    2.0    4.0  Urbana
...     ..      ...    ...    ...    ...    ...    ...     ...
151147  53      Sim      1    2.0    4.0    4.0    4.0  Urbana
151148  53      Sim      1    4.0    4.0    2.0    4.0  Urbana
151150  53      Sim      1    4.0    4.0    2.0    4.0  Urbana
151151  53      Sim      1    4.0    4.0    2.0    4.0  Urbana
151153  53      Sim      1    4.0    4.0    2.0    4.0  Urbana
151155  53      Nao      1    NaN    NaN    NaN    NaN  Urbana
151156  53      Sim      1    4.0    4.0    2.0    4.0  Urbana
151158  53      Sim      1    2.0    4.0    2.0    4.0  Urbana
151159  53      Sim      1    2.0    4.0    2.0    4.0  Urbana
151161  53      Sim      1    2.0    4.0    4.0    4.0  Urbana
151163  53      Sim      1    2.0    4.0    2.0    4.0  Urbana
151164  53      Sim      1    2.0    4.0    2.0    4.0  Urbana
151165  53      Sim      1    2.0    4.0    2.0    4.0  Urbana
151167  53      Sim      1    2.0    4.0    2.0    4.0  Urbana
151168  53      Sim      1    2.0    4.0    2.0    4.0  Urbana
151169  53      Sim      1    2.0    4.0    2.0    4.0  Urbana
151170  53      Sim      1    2.0    4.0    2.0    4.0  Urbana
151171  53      Sim      1    2.0    4.0    2.0    4.0  Urbana
151172  53      Nao      1    NaN    NaN    NaN    NaN  Urbana
151173  53      Sim      1    4.0    4.0    2.0    4.0  Urbana
151175  53      Sim      1    2.0    4.0    2.0    4.0  Urbana
151179  53      Nao      1    NaN    NaN    NaN    NaN  Urbana
151180  53      Nao      1    NaN    NaN    NaN    NaN  Urbana
151181  53      Nao      1    NaN    NaN    NaN    NaN  Urbana
151182  53      Sim      1    2.0    4.0    2.0    4.0  Urbana
151184  53      Nao      1    NaN    NaN    NaN    NaN  Urbana
151185  53      Nao      1    NaN    NaN    NaN    NaN  Urbana
151186  53      Sim      1    2.0    4.0    2.0    4.0  Urbana
151187  53      Nao      1    NaN    NaN    NaN    NaN  Urbana
151188  53      Sim      1    2.0    4.0    2.0    4.0  Urbana

[117601 rows x 8 columns]

___
## Conclusão

Descreva aqui suas conclusões!